@font-face {
    font-family: 'museo_slab500';
    src: url(Museo_Slab_500_2-webfont.eot');
    src: url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('Museo_Slab_500_2-webfont.woff') format('woff'),
         url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}


body { 
    font: 100%/1.5; /* 16px */ 
}

.jumbotron{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
}

.navBar{
    margin: 0;
    padding: 0;
    display: block;
}

.navBar ul{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    float: left;
    text-align: center;
    font-family: 'museo_slab500', sans-serif;
    color: RGB(238, 191, 112);
}

.navBar li{
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0.5%;
    font-size: 22px;
    width: 19%;
}


.jumboBackground{
    background: url(../images/bar_BW.jpg) black no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
        padding-bottom: 5%;
}

.jumboBackground img{
    visibility: hidden;
    width: 100%;
    height: 550px;

}

.heroText h2{
    font-family: 'Raleway', serif;
    color: RGB(238, 191, 112);
    font-size: 4em;
    width: 20%;
    margin: auto;
    padding-right: 60%;
}

.heroText h3{
    font-family: 'Raleway', serif;
    color: RGB(238, 191, 112);
    font-size: 3em;
    width: 20%;
    margin: auto;
    padding-right: 45%;
}

.heroText #blackHorseText{
    width: 40%;
    background-color: RGBa(234, 154, 0, 0.75);
    margin: auto;
}

.heroText #blackHorseText h1{
    vertical-align: middle;
    font-size: 5em;
    font-family: 'museo_slab500', serif;
    text-align: center;
}



