@font-face {
    font-family: 'museo_slab500';
    src: url(Museo_Slab_500_2-webfont.eot');
    src: url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('Museo_Slab_500_2-webfont.woff') format('woff'),
         url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}


body { 
    font: 100%/1.5; /* 16px */ 
    background-color: black;
}


/*-- Hero section, inc. navbar--*/
.jumbotron{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navBar{
    margin: 0;
    padding: 0;
    display: block;
}

.navBar ul{
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
    font-family: 'museo_slab500', sans-serif;
    font-size: 22px;
    font-weight:100;
    color: RGB(238, 191, 112);
    background-color: RGBa(3, 69, 89, 0.6);
}

.navBar li{
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0.5%;
    width: 19%;
}


.jumboBackground{
    background: url(../images/bar_BW.jpg) black no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    padding-bottom: 2%;
}


#barPic{
    visibility: hidden;
    width: 100%;
    height: 550px;
}

.heroText h2{
    font-family: 'Raleway', serif;
    color: RGB(238, 191, 112);
    font-size: 4em;
    width: 20%;
    margin: auto;
    padding-right: 70%;
}

.heroText h3{
    font-family: 'Raleway', serif;
    color: RGB(238, 191, 112);
    font-size: 3em;
    width: 20%;
    margin: auto;
    padding-right: 55%;
}

.heroText #blackHorseText{
    width: 60%;
    background-color: RGBa(234, 154, 0, 0.75);
    margin: auto;
}

.heroText #blackHorseText h1{
    vertical-align: middle;
    font-size: 7em;
    font-family: 'museo_slab500', serif;
    text-align: center;
}

.arrowIcon{
    text-align: center;
}

.arrowIcon img{
    padding-top: 3%;
    padding-bottom: 5%;
    height: 2%;
    width: 2%;
}

.heroCopy{
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 20%;
    padding-right: 20%;
    background-color: RGBa(3, 69, 89, 0.85);
}

.heroCopy p{

    font-size: 2em;
    color: RGBa(233, 154, 0, 0.8);
    font-family: 'museo_slab500', serif;
    text-align: center;
    line-height: 98%;
}



/*---Features section ---
-----Welcome, find us, what's on ---*/

.features{
    float: left;
    padding-left: 11%;
    padding-right: 11%;
    text-align: center;
    background-color: RGBa(238, 191, 112, 0.8);
    color: RGB(89, 89, 79);
}

.features div{
    display: inline-block;
    width: 33%;
    padding: 2em 3%;
    padding-bottom: 4%;
    vertical-align: top;
}

.featureImage{
    display: inline-block;
}

.features img{
    vertical-align: top;
    height: 100%;
    width: 100%;
    font-size: 0;
}

.features h2{
    font-family: 'museo_slab500', serif;
    text-align: center;
    padding: 2%;
    padding-top: 4%;
    margin: 1%;
    color:  RGBa(3, 69, 89, 0.85);

}

.features p{
    vertical-align: top;
    padding-top: 5%;
        font-family: 'museo_slab500', serif;
    text-align: justify;
    font-size: 1.25em;
    font-weight: 100; 
    letter-spacing: 1px;
    word-spacing: 0.5px;
}

.slideshow{
    float: left;
    width: 100%;
    border: 0;
    background-color: RGBa(238, 191, 112, 0.8);
}

.slideshow img{
    width: 100%;
}



